day = 25px
vendors = {
    orangeked: #FFF3E0,
    pik: #edf8ff,
    cityescape: #fcefff,
    zovgor: #ecf9eb,
    napravlenie: #ffeaea,
    teamtrip: #f3f0f7
}

*, *:before, *:after
    box-sizing: border-box;

h1
    margin 80px 0 40px !important

body.active
    transform scale(1) !important

    #blocker
        opacity 0

#app
    position relative
    display flex

    .aside
        flex 0 0 270px


.aside
    display none
    height 100%
    overflow-y auto
    flex-direction column
    border-right 1px solid #eee
    position relative
    z-index 3

    &__content
        padding 0 20px

        .tags, .search, .title
            margin 30px 0 !important

    &__footer
        font-size 14px
        margin-top auto
        padding 15px 20px
        border-top 1px solid #eee
        text-align center

.gant
    position relative
    overflow-x auto

    &__months
        z-index 2
        box-shadow 0 5px 15px 0 rgba(0, 0, 0, .1)
        background-color white
        position sticky
        top 0
        height 44px

        width fit-content
        white-space nowrap
        font-size 0

    &__events
        min-height calc(100% - 44px)
        position relative

    &__stripes
        position absolute
        display table
        table-layout fixed
        top 0
        left 0
        height 100%
        width 100%
        z-index -1


.gant__stripe
    display table-cell

    &--is_weekend
        background #fafafa


.gant__month
    display inline-block
    overflow visible
    cursor default
    border-right 1px solid #eee
    overflow hidden

    &:last-child
        border-right-width 0

    &__name
        display block
        line-height 30px
        height 30px
        padding 0 10px
        font-size 14px

    &__days
        user-select none
        font-size 9px
        overflow hidden
        text-align center
        color #777

        &__day
            display inline-block
            width day

            &--is_weekend
                color #F44336

            &--is_today
                background-color #DD2C00
                font-weight bold
                color white


.gant__event
    border-radius 6px
    color #444
    background-clip padding-box
    border 4px solid transparent
    padding 6px
    font-size 11px
    line-height 1.2
    margin-top 15px
    position absolute
    max-height 57px
    min-height @max-height
    overflow hidden
    cursor pointer
    transition box-shadow .2s, border-width .2s, border-color .2s

    &:hover
        border-width 0
        max-height 300px
        min-width 200px
        box-shadow 0 10px 20px 0px rgba(0,0,0,.3)
        color white
        background-color #D50000
        z-index 1

    &__dates
        font-weight bold
        font-size 10px

    for key, value in vendors
        &--{key}
            background-color value

.tags
    overflow hidden
    position relative
    user-select none
    font-size 0

    &__title
        clear both
        font-size 16px
        padding 20px 0 0px 10px

    &__offset
        margin -10px 0 0 -10px
        overflow hidden

    &__tag
        display inline-block
        overflow hidden
        opacity .5
        margin 10px 0 0 10px

        &.active
            opacity 1

        &__inner
            padding 1px 11px
            border-radius 3px
            color #0066ff
            background lighten(@color, 90%)
            cursor pointer
            font-size 13px

            &:hover
                background lighten(@color, 95%)

        for key, value in vendors
            &.{key} &__inner
                background value

        input
            position absolute
            visibility hidden

            &:checked + div
                background #0066ff !important
                color white


input.search__input
    margin 0
    border none
    border-radius 8px
    width 100%
    padding 10px 10px 10px 35px
    background-color #f5f5f5
    background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAACD0lEQVR42u2XO2gUURSGZzcb0ASsojHgIxgJYhUEC0EQREihWFnoKtFaIVqphToWSeNudv7z3/UxWEQLCUkhiI0WKghpFBRUhA26DIiVERfU7IrjHhsLo8lm7uxqofNPeQ/nu+eeF+M4iRL9G5KVZo85zrNyCofNlqm2Frr22znEaerPH2bFSF9rbr4DJSpf8gy257vcjN9h+k2WE6whlILf0ZRzTfE06nxl9mrq17NCD66gzufF9U0AOELlRK5zsXMziArfYF1c90eovOqmG9l4A6jg2djyGO4vruUn3l+6WswgVfJxknudc15vpEh9hIUNlu4LPQjpRbVljbS9/wmq6Y+crUm+a5yr3wG3UbIoh0NUb8AKgEBuWAA2UTlkB6jiQnTrXCeVJ+164BtHrKaVyjk7wAcWLeLtpnLY7oke457NQKRyt10VGXweXxbZ+jzq+S67J9pFxf5otm6aM3ho2WhTbZzhk2jNI/uoctB6FpkslUcjuF+BQF64mTjL5i6q2LpkpDcRmm2x9gG6UcZsI4TfzmvWBTov/D6UUZVjC+eiuJHTVFSiDfVFdGmV3KHyqcnO31qyWQxr+Ii3VARNITTFAyhROScP5LKMMsdJvqbyK8ZljdeLoGmE47hp7hTwEd8j5BcEcovDxdU/tnJrEA0Xf4L4DxHlGJPJAlFG6Q8CHMfNtPTnJFGiv6XvYLshbxzX5ncAAAAASUVORK5CYII=")
    background-repeat no-repeat
    background-position 5px center
    background-size 24px
    font-size 14px
    outline none !important

    &:not(:placeholder-shown)
        color #000

        &::-webkit-search-cancel-button
            opacity 1 !important


html, body, article, #app, .gant
    height 100%

@media only screen and (min-width: 600px)
    .aside
        display flex
