<!DOCTYPE html>
<html>
<head>
    <title>hello world</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏕</text></svg>">
    <style>
        html, body {
            height: 100vh;
            margin: 0;
            padding: 0;
        }
        body {
            transition: transform .3s ease-out;
            transform: scale(.9);
        }
        #app {
            position: absolute;
        }
        #blocker {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: white;
            opacity: 1;
            z-index: 1000;
            transition: opacity .3s linear;
            display: flex;
        }
        #blocker .before {
            font-family: "Helvetica Neue",sans-serif;
            line-height: 1;
            display: block;
            margin: auto;
            font-size: 80px;
        }
    </style>
</head>
<body>
<div id="blocker"><div class="before">загружаюсь…</div></div>
<div id="app">
    <aside class="aside">
        <div class="aside__content">
            <h1 class="title title--xxxl">
                🏕️&nbsp;{{ eventFilter.length }}
            </h1>
            <div class="tags">
                <div class="tags__offset">
                    <template v-for="group in tags">
                        <div v-if="group.title" class="tags__title">{{ group.title }}</div>
                        <label v-for="tag in group.tags" class="tags__tag" :for="tag.slug" :class="[{active: tag.active}, tag.slug]" :title="tag.title || tag.text">
                            <input type="checkbox" :id="tag.slug" :value="tag.bit" v-model="applyTags">
                            <div class="tags__tag__inner">{{ tag.text }}</div>
                        </label>
                    </template>
                </div>
            </div>
            <div class="search">
                <input class="search__input" type="search" placeholder="поиск" v-model="applySearch">
            </div>
        </div>
        <div class="aside__footer">
            <a target="_blank" href="https://github.com/tsouvarev/helloworld">Github</a>
        </div>
    </aside>
    <article class="gant">
        <div class="gant__months">
            <div :class="`gant__month days--w${month.days.length}`" v-for="month in months">
                <div class="gant__month__name" v-html="month.name"></div>
                <div class="gant__month__days">
                    <span
                        class="gant__month__days__day"
                        :class="{
                            'gant__month__days__day--is_weekend': day.is_weekend,
                            'gant__month__days__day--is_today': day.is_today,
                        }"
                        v-for="day in month.days"
                    >{{ day.date.format('DD') }}</span>
                </div>
            </div>
        </div>
        <div class="gant__events" :style="`width:${width}px;height:${height}px`">
            <div class="gant__stripes">
                <div v-for="stripe in stripes"
                     class="gant__stripe"
                     :class="{ 'gant__stripe--is_weekend': stripe.is_weekend }"
                     :style="{ width: stripe.width + 'px'}"
                ></div>
            </div>
            <div
                v-for="event in eventFilter"
                v-on:click="showDetail(event)"
                :id="event.id"
                :class="`gant__event gant__event--${event.vendor}`"
                :style="`top:${event.voffset}px;left:${event.hoffset}px;width:${event.width}px`"
            >
                <div class="gant__event__dates">{{ event.start.format('DD.MM') }}&mdash;{{ event.end.format('DD.MM') }}, {{ event.days }}&nbsp;{{ event.days | pluralize('день', 'дня', 'дней') }}</div>
                <div class="gant__event__title">{{ event.title }}</div>
            </div>
        </div>
    </article>
    <div class="detail" v-if="detail.event">
        <div class="detail__close" v-on:click="hideDetail">✕</div>
        <span class="detail__inner" :set="event = detail.event">
            <h1 class="detail__title"><a :href="event.url" class="detail__title__url" target="_blank">{{ event.title }}</a>&nbsp;<small class="color-light">↗</small></h1>
            <table class="tbl">
                <tr>
                    <th align="right">🚩</th>
                    <td :set="url = parseUrl(event.url)"><a :href="url.origin">{{ url.hostname }}</a></td>
                </tr>
                <tr>
                    <th align="right">🗓</th>
                    <td>
                        {{ event.start.format('DD.MM') }}&mdash;{{ event.end.format('DD.MM') }},
                        {{ event.days }}&nbsp;{{ event.days | pluralize('день', 'дня', 'дней') }}
                    </td>
                </tr>
                <tr>
                    <th align="right">🥾</th>
                    <td>
                        {{ event.level }}/5
                        &mdash;
                        <span v-if="event.level == 1">
                          очень простой маршрут. Не требует подготовки
                        </span>
                        <span v-else-if="event.level == 2">
                          простой маршрут. Не требует подготовки
                        </span>
                        <span v-else-if="event.level == 3">
                          маршрут средней сложности. Требуется подготовка
                        </span>
                        <span v-else-if="event.level == 4">
                          это сложный маршрут. Требуется серьезная подготовка
                        </span>
                        <span v-else-if="event.level == 5">
                          это очень сложный маршрут. Вы определенно знаете что делаете
                        </span>
                        <span v-else>
                           неизвестный уровень
                        </span>
                    </td>
                </tr>
                <tr v-if="event.for_kids">
                    <th align="right">👶</th>
                    <td>Маршрут адаптирован для детей</td>
                </tr>
                <tr v-if="event.price">
                    <th align="right">🤑</th>
                    <td>
                        {{ event.price }}
                        <span v-if="event.for_kids">— цена для ребенка обычно ниже</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
<link rel="stylesheet" href="./tent.min.css">
<link rel="stylesheet" href="./index.css">
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="./data.js"></script>
<script src="./index.js"></script>
</html>
