day = 15px
orangeked = #FFF3E0
pik = #edf8ff
cityescape = #fcefff
zovgor = #ecf9eb
napravlenie = #ffeaea

full()
    height 100%
    width 100%

*, *:before, *:after
    box-sizing: border-box;

h1
    margin 80px 0 40px !important

html, body, #app
    full()
    margin 0
    overflow hidden

body.active
    #app
        transform scale(1) !important
        visibility visible
    #blocker
        opacity 0

#app
    display flex
    flex-flow column

article
    flex 0 0 auto

header
    display flex
    flex 0 0 100px
    flex-direction row
    flex-wrap nowrap
    align-items center
    overflow hidden
    padding 0 50px
    width 100%

    size = 50px

    .icon
        line-height size
        font-size size

    .title
        font-size size
        line-height size
        white-space nowrap
        padding 0 30px 0 20px
        margin 0 !important

        sup
            width 80px
            display inline-block
            font-weight normal
            font-size 34px


.gant
    full()
    overflow auto
    position relative

    &__container
        position relative
        background-repeat repeat
        background-image url('./bg.gif')

    &__months
        top 0
        z-index 2
        width 100%
        position -webkit-sticky
        position sticky
        display table
        table-layout fixed
        box-shadow 0 5px 15px 0 rgba(0, 0, 0, .1)
        background-color white


.gant__month
    display table-cell
    overflow visible
    cursor default

    &__name
        display block
        line-height 30px
        height 30px
        padding 0 10px

    &__days
        user-select none
        font-size 9px
        overflow hidden
        text-align center
        color #777

        &__day
            float left
            width day
            height day
            height 100%

            &--is_weekend
                color #F44336

            &--is_today
                background-color #DD2C00
                font-weight bold
                color white


.gant__event
    border-radius 5px
    color #444
    background-clip padding-box
    border 2px solid transparent
    padding 6px
    font-size 11px
    line-height 1.2
    margin-top 15px
    margin-bottom 5px
    position absolute
    max-height 52px
    min-height @max-height
    overflow hidden
    cursor pointer
    transition box-shadow .2s

    &:hover
        background-clip initial
        max-height 300px
        min-width 200px
        box-shadow 0 10px 20px 0px rgba(0,0,0,.3)
        color white
        background-color #D50000
        z-index 5

    &__dates
        font-weight bold

    for num in (0..100)
        &--v{num}
            top num * (@max-height + @margin-bottom)

    &--orangeked
        background-color orangeked

    &--pik
        background-color pik

    &--cityescape
        background-color cityescape

    &--zovgor
        background-color zovgor

    &--napravlenie
        background-color napravlenie

.days
    for num in (1..100)
        &--w{num}
            width num * day

.tags
    overflow hidden
    position relative
    user-select none
    font-size 0

    &__offset
        margin -10px 0 0 -10px
        overflow hidden

    &__tag
        display inline-block
        overflow hidden
        opacity .5
        margin 10px 0 0 10px

        &.active
            opacity 1

        &__inner
            padding 0px 13px
            border-radius 3px
            color #0066ff
            background lighten(@color, 90%)
            cursor pointer
            font-size 13px

            &:hover
                background lighten(@color, 95%)

        &.zovgor &__inner
            background zovgor

        &.orangeked &__inner
            background orangeked

        &.pik &__inner
            background pik

        &.cityescape &__inner
            background cityescape

        &.napravlenie &__inner
            background napravlenie

        input
            position absolute
            visibility hidden

            &:checked + div
                background #0066ff !important
                color white


@media only screen and (max-width: 1100px)
    header
        flex 0 0 auto
        padding 0

        .icon, .title
            display none

        .tags
            &__offset
                padding 15px
                overflow-x auto
                width 100%
                white-space nowrap

            &__tag__inner
                padding 1px 13px
                font-size 14px

    .gant__pointer
        display none
