day = 25px
vendors = {
    orangeked: #FFF3E0,
    pik: #edf8ff,
    cityescape: #fcefff,
    zovgor: #ecf9eb,
    napravlenie: #ffeaea,
    teamtrip: #f3f0f7,
    pro_adventure: #e4f9f8,
    vpoxod: #f5eee7,
    strannik: #f0f1ff,
    myway: #f0f3d8,
    stranavetrov: #d9f5db,
}
aside-width = 300px
side-padding = 30px
month-height = 44px

*, *:before, *:after
    box-sizing: border-box;

body.active
    transform scale(1) !important

    #blocker
        opacity 0

    #app
        visibility visible

html, body, #app, .gant, .aside, .detail
    height 100%
    width 100%


#app
    position relative
    display flex


.logo
    margin 0 !important
    font-weight bold
    white-space nowrap
    font-size 40px
    user-select none

    &__icon
        height 36px
        vertical-align -6px

    &__counter
        font-size 13px
        padding 2px 8px
        border-radius 5px
        border 1px solid #ddd
        vertical-align 11px

.aside
    flex 0 0 aside-width
    display flex
    overflow-y auto
    flex-direction column
    position relative
    background white
    border-right 1px solid #eee
    z-index 3

    .btn-group
        display none
        margin-bottom 15px

    &__clear, .tags
        margin-bottom 30px

    &__sticky
        padding side-padding side-padding 15px
        margin-bottom 15px

    &__content
        margin 0 auto
        padding 0 side-padding
        max-width aside-width * 2
        position relative

        .search
            margin 0 0 30px !important

    &__footer
        font-size 13px
        margin-top auto
        padding 15px 20px
        border-top 1px solid #eee
        text-align center
        color gray

.gant
    user-select none
    position relative
    overflow-x auto
    color #444

    &__events
        min-height 100%
        border-top white solid month-height
        margin-top -(month-height)
        position relative

    &__stripes
        position absolute
        display table
        table-layout fixed
        top 0
        left 0
        height 100%
        width 100%
        z-index -1

    &__stripe
        display table-cell

        &--is_weekend
            background #fafafa

    &__months
        z-index 2
        box-shadow 0 5px 15px 0 rgba(0, 0, 0, .1)
        background white
        position sticky
        top 0
        height month-height
        display flex
        flex-flow row nowrap
        width fit-content
        min-width 100%

    &__month
        cursor default
        background-color white
        position relative

        &:last-child
            background none

        &::after
            content ''
            position absolute
            top 0
            right 0
            width 10px
            height 30px
            background linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)

        &__name
            left 0
            width fit-content
            position sticky
            display block
            line-height 30px
            height 30px
            padding 0 10px
            font-size 14px
            white-space nowrap
            max-width 100%
            overflow hidden

            small
                color gray

        &__days
            user-select none
            overflow hidden
            text-align center
            color #777
            font-size 9px
            width fit-content
            display flex
            flex-flow row nowrap

            &__day
                width day

                &--is_weekend
                    color #F44336

                &--is_today
                    background #DD2C00
                    font-weight bold
                    color white


.gant__event
    border-radius 10px
    background-clip padding-box
    border 4px solid transparent
    padding 6px
    font-size 11px
    line-height 1.2
    margin-top 15px
    position absolute
    max-height 57px
    min-height @max-height
    overflow hidden
    cursor pointer

    &:hover
        max-height 300px
        min-width 200px
        z-index 1

    &__dates
        font-weight bold
        font-size 10px
        margin-bottom 1px


    for key, value in vendors
        &--{key}
            background-color value

            &:hover
                background-color darken(value, 5%)

.tags
    overflow hidden
    position relative
    user-select none
    font-size 0

    &__title
        clear both
        font-size 16px
        padding 20px 0 0px 10px

    &__offset
        margin -10px 0 0 -10px
        overflow hidden

    &__tag
        display inline-block
        overflow hidden
        margin 10px 0 0 10px
        transition opacity .15s ease-in
        opacity 1

        &.inactive
            opacity .5

        &__inner
            padding 1px 11px
            border-radius 5px
            color #0066ff
            background lighten(@color, 90%)
            cursor pointer
            font-size 13px
            line-height 20px

            &:hover
                background lighten(@color, 95%)

        for key, value in vendors
            &.{key} &__inner
                background value

        &.new &__inner
            color white
            background-color #ff9797
            font-size 10px
            font-weight bold

        &.months &__inner, &.years &__inner
            text-align center
            min-width 48px
            padding-left 0
            padding-right 0

        input
            position absolute
            visibility hidden

            &:checked + div
                background #0066ff !important
                color white


input.search__input
    margin 0
    border none
    border-radius 8px
    width 100%
    padding 10px 10px 10px 35px
    background-color #f5f5f5
    background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAACD0lEQVR42u2XO2gUURSGZzcb0ASsojHgIxgJYhUEC0EQREihWFnoKtFaIVqphToWSeNudv7z3/UxWEQLCUkhiI0WKghpFBRUhA26DIiVERfU7IrjHhsLo8lm7uxqofNPeQ/nu+eeF+M4iRL9G5KVZo85zrNyCofNlqm2Frr22znEaerPH2bFSF9rbr4DJSpf8gy257vcjN9h+k2WE6whlILf0ZRzTfE06nxl9mrq17NCD66gzufF9U0AOELlRK5zsXMziArfYF1c90eovOqmG9l4A6jg2djyGO4vruUn3l+6WswgVfJxknudc15vpEh9hIUNlu4LPQjpRbVljbS9/wmq6Y+crUm+a5yr3wG3UbIoh0NUb8AKgEBuWAA2UTlkB6jiQnTrXCeVJ+164BtHrKaVyjk7wAcWLeLtpnLY7oke457NQKRyt10VGXweXxbZ+jzq+S67J9pFxf5otm6aM3ho2WhTbZzhk2jNI/uoctB6FpkslUcjuF+BQF64mTjL5i6q2LpkpDcRmm2x9gG6UcZsI4TfzmvWBTov/D6UUZVjC+eiuJHTVFSiDfVFdGmV3KHyqcnO31qyWQxr+Ii3VARNITTFAyhROScP5LKMMsdJvqbyK8ZljdeLoGmE47hp7hTwEd8j5BcEcovDxdU/tnJrEA0Xf4L4DxHlGJPJAlFG6Q8CHMfNtPTnJFGiv6XvYLshbxzX5ncAAAAASUVORK5CYII=")
    background-repeat no-repeat
    background-position 5px center
    background-size 24px
    font-size 14px
    outline none !important

    &:not(:placeholder-shown)
        color #000

        &::-webkit-search-cancel-button
            opacity 1 !important

.sticky
    background white
    position sticky
    z-index 1
    top 0


.btn-group
    overflow hidden
    text-transform lowercase
    width 100%

    .btn
        float left

    .btn + .btn
        margin-left 20px

.btn
    color #444
    font-size 15px
    cursor pointer
    padding 8px 14px 10px
    border-radius 200px
    border-style solid
    border-width 1px
    border-color #ddd
    line-height 1
    user-select none
    text-align center
    white-space nowrap
    transition opacity .15s ease-in

    &:hover
        opacity .8

    &--primary
        border-color #06f
        color @border-color

    &--inactive
        opacity .4 !important
        cursor disabled


.detail
    position fixed
    left 0
    top 0
    background white
    z-index 5
    overflow scroll
    display none

    .btn-group
        padding 35px

    .tags
        margin 15px 0

    &__title
        margin-top 0 !important

    &--active
        display flex

    &__inner
        margin auto
        width 800px
        background white
        overflow hidden
        outline none

    &__content
        padding 0 35px

    .tbl
        width 100%
        margin-bottom 30px

        hr
            background #eee

        th:first-child
            width 1%


// function min is reserved by stylus
@css {
.detail__title {
    margin-top: 30px;
    font-size: min(8vmin, 40px);
}
}

.tbl
    th, td
        vertical-align top
        padding 5px 10px

        &:first-child
            padding-left 0

        &:last-child
            padding-right 0

.days
    for num in (1..31)
        &--w{num}
            width num * day


@media only screen and (max-width: 900px)
    .aside-toggle
        display block
        text-align center
        padding 4px 20px 6px
        position fixed
        background white
        border-radius 50px
        box-shadow 0 5px 15px 0 rgba(0, 0, 0, .1)
        z-index 2
        bottom 30px
        left 50%
        transform translateX(-50%)
        cursor pointer
        user-select none
        font-size 15px

        &__count
            background #EA3323
            border-radius 50px
            color white
            margin 0 -5px 0 5px
            position relative
            top -1px
            font-size 11px
            width 18px
            line-height @width
            display inline-block

    .aside
        display none

        &--mobile
            display block
            position fixed
            border-width 0
            top 0
            left 0
            width 100%

            .btn-group
                display block
