day = 25px
vendors = {
    orangeked: #FFF3E0,
    pik: #edf8ff,
    cityescape: #fcefff,
    zovgor: #ecf9eb,
    napravlenie: #ffeaea,
    teamtrip: #f3f0f7,
    mytravelbar: #f0f3d8,
    pohodtut: #e4f9f8,
}
aside-width = 270px

*, *:before, *:after
    box-sizing: border-box;

body.active
    transform scale(1) !important

    #blocker
        opacity 0

    #app
        visibility visible

html, body, #app, .gant, .aside, .detail
    height 100%


#app
    position relative
    display flex

.aside
    flex 0 0 aside-width
    display flex
    overflow-y auto
    flex-direction column
    border-right 1px solid #eee
    position relative
    background white
    z-index 3

    .esc
        display none

    &__content
        margin 15px auto
        padding 0 20px
        max-width aside-width * 2
        position relative

        .title
            margin 0 0 15px 0 !important
            white-space nowrap
            font-size 40px

            &__counter
                font-size 13px
                padding 2px 8px
                border-radius 5px
                border 1px solid #ddd
                vertical-align 11px

        .tags, .search
            margin 30px 0 !important

    &__footer
        font-size 14px
        margin-top auto
        padding 15px 20px
        border-top 1px solid #eee
        text-align center

.gant
    user-select none
    position relative
    overflow-x auto

    &__months
        z-index 2
        box-shadow 0 5px 15px 0 rgba(0, 0, 0, .1)
        background-color white
        position sticky
        top 0
        height 44px

        width fit-content
        white-space nowrap
        font-size 0

    &__events
        min-height calc(100% - 44px)
        position relative

    &__stripes
        position absolute
        display table
        table-layout fixed
        top 0
        left 0
        height 100%
        width 100%
        z-index -1


.gant__stripe
    display table-cell

    &--is_weekend
        background #fafafa


.gant__month
    display inline-block
    cursor default
    border-right 1px solid #eee
    position relative
    background white

    &:last-child
        border-right-width 0

    &__name
        left 0
        width fit-content
        position sticky
        display block
        line-height 30px
        height 30px
        padding 0 10px
        font-size 14px

        small
            color gray

    &__days
        user-select none
        font-size 9px
        overflow hidden
        text-align center
        color #777

        &__day
            display inline-block
            width day

            &--is_weekend
                color #F44336

            &--is_today
                background-color #DD2C00
                font-weight bold
                color white


.gant__event
    border-radius 10px
    color #444 !important
    background-clip padding-box
    border 4px solid transparent
    padding 6px
    font-size 11px
    line-height 1.2
    margin-top 15px
    position absolute
    max-height 57px
    min-height @max-height
    overflow hidden
    cursor pointer

    &:hover
        max-height 300px
        min-width 200px
        z-index 1

    &__dates
        font-weight bold
        font-size 10px
        margin-bottom 1px


    for key, value in vendors
        &--{key}
            background-color value

            &:hover
                background-color darken(value, 5%)

.tags
    overflow hidden
    position relative
    user-select none
    font-size 0

    &__title
        clear both
        font-size 16px
        padding 20px 0 0px 10px

    &__offset
        margin -10px 0 0 -10px
        overflow hidden

    &__tag
        display inline-block
        overflow hidden
        opacity .5
        margin 10px 0 0 10px

        &.active
            opacity 1

        &__inner
            padding 1px 11px
            border-radius 3px
            color #0066ff
            background lighten(@color, 90%)
            cursor pointer
            font-size 13px

            &:hover
                background lighten(@color, 95%)

        for key, value in vendors
            &.{key} &__inner
                background value

        &.months &__inner, &.years &__inner
            text-align center
            min-width 48px
            padding-left 0
            padding-right 0

        input
            position absolute
            visibility hidden

            &:checked + div
                background #0066ff !important
                color white


input.search__input
    margin 0
    border none
    border-radius 8px
    width 100%
    padding 10px 10px 10px 35px
    background-color #f5f5f5
    background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAACD0lEQVR42u2XO2gUURSGZzcb0ASsojHgIxgJYhUEC0EQREihWFnoKtFaIVqphToWSeNudv7z3/UxWEQLCUkhiI0WKghpFBRUhA26DIiVERfU7IrjHhsLo8lm7uxqofNPeQ/nu+eeF+M4iRL9G5KVZo85zrNyCofNlqm2Frr22znEaerPH2bFSF9rbr4DJSpf8gy257vcjN9h+k2WE6whlILf0ZRzTfE06nxl9mrq17NCD66gzufF9U0AOELlRK5zsXMziArfYF1c90eovOqmG9l4A6jg2djyGO4vruUn3l+6WswgVfJxknudc15vpEh9hIUNlu4LPQjpRbVljbS9/wmq6Y+crUm+a5yr3wG3UbIoh0NUb8AKgEBuWAA2UTlkB6jiQnTrXCeVJ+164BtHrKaVyjk7wAcWLeLtpnLY7oke457NQKRyt10VGXweXxbZ+jzq+S67J9pFxf5otm6aM3ho2WhTbZzhk2jNI/uoctB6FpkslUcjuF+BQF64mTjL5i6q2LpkpDcRmm2x9gG6UcZsI4TfzmvWBTov/D6UUZVjC+eiuJHTVFSiDfVFdGmV3KHyqcnO31qyWQxr+Ii3VARNITTFAyhROScP5LKMMsdJvqbyK8ZljdeLoGmE47hp7hTwEd8j5BcEcovDxdU/tnJrEA0Xf4L4DxHlGJPJAlFG6Q8CHMfNtPTnJFGiv6XvYLshbxzX5ncAAAAASUVORK5CYII=")
    background-repeat no-repeat
    background-position 5px center
    background-size 24px
    font-size 14px
    outline none !important

    &:not(:placeholder-shown)
        color #000

        &::-webkit-search-cancel-button
            opacity 1 !important


.esc
    font-size 15px
    cursor pointer
    margin 30px 0
    padding 8px 16px 10px
    border-radius 200px
    border 1px solid #ccc
    width fit-content
    line-height 1


.detail
    position fixed
    width 100%
    left 0
    top 0
    background white
    z-index 5
    display flex
    overflow scroll

    &__inner
        margin auto
        padding-left 30px
        padding-right @padding-left
        width 800px

    &__title
        margin-top 30px
        font-size 5vh

    .tbl
        width 100%
        margin-bottom 30px

        hr
            background-color #eee

        th:first-child
            width 1%

.tbl
    th, td
        vertical-align top
        padding 5px 10px

        &:first-child
            padding-left 0

        &:last-child
            padding-right 0

.days
    for num in (1..31)
        &--w{num}
            width num * day


@media only screen and (max-width: 900px)
    .aside-toggle
        display block
        text-align center
        padding 3px 20px 5px
        position fixed
        background white
        border-radius 50px
        box-shadow 0 5px 15px 0 rgba(0, 0, 0, .1)
        z-index 2
        bottom 30px
        left 50%
        transform translateX(-50%)
        cursor pointer
        user-select none
        font-variant small-caps
        font-size 16px

        &__title
            font-size 15px
            position relative
            margin-left 5px


    .aside
        display none

        &--mobile
            display block
            position fixed
            top 0
            left 0
            width 100%

            .esc
                display block
